table{
    margin: 20px auto;
    width: 90%;

}

th{
    background-color:orange ;
    color: white;
    padding: 12px;
    
}
Caption{
    color: orange;
}
td{
    padding: 12px;
    text-align: center;
    border: 1px solid grey;
}